@import url('https://fonts.googleapis.com/css?family=Bowlby+One+SC|Dosis:200,300,400,500,600,700,800&display=swap');

body {
  background-color: #e6e6e6
}

h1  {
  color: black;
  text-align: center;
  font-size:100px;
  font-style: italic;
  margin-top: 10px;
  margin-bottom: 20px;
  font-family: 'Bowlby One SC', cursive;
  margin-bottom: 10px;
  padding: 10px;
}

h2  {
  text-align: center;
  margin: 5px
}

img {
  display: block
  width: 500px;
  margin-right: auto;
  margin-left: auto;
}

#first-image {
  width: 100px;
}
